/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#slideshow #slidesContainer {
  margin:0 auto;
  width:560px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:263px;
}


.navbar-fixed-top .navbar-inner{
	background-image : -moz-linear-gradient(left top , orange, orange) ;
}

.container  a.brand {
	color :white;
	text-shadow:none;
	padding:10px 80px;
	}
	
	.nav
	{
	float:right !important;
	}
	
	.navbar .nav > li > a {
		text-shadow :none !important;
		}
		
div#container_test {
text-align: center; height: auto; float: left;
width: 100%; 
margin-top:50px;
margin-left:50px;
text-align: center;
}

div.split2 div {
float: left;
border: 5px solid lightgray;
width: 27%;padding:10px;
margin:10px 10px 10px 10px;
}

div.split1 div {
float: left;
border: 5px solid lightgray;
width: 100%;
}

div.split1 div.image {
border :none;
}




